In [308]:
#question:1

#Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(sorted(ages))
max(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

26

In [309]:
min(ages)

19

In [310]:
# Add the min age and the max age again to the list
ages.extend([max(ages),min(ages)])
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 26, 19]

In [311]:
# Find the median age (one middle item or two middle items divided by two)
import statistics
print(statistics.median(ages))

24.0

In [312]:
#Find the average age (sum of all items divided by their number)
sum=0
for i in ages:
    sum +=i
print(sum/len(ages))

22.75

In [303]:
#Find the range of the ages (max minus min)
range = max(ages)-min(ages)
print(range)
b="range of age ({0},{1})".format(min(ages),max(ages))
print(b)

7
range of age (19,26)

In [313]:
#question:2
#Create an empty dictionary called dog
dog ={}

In [314]:
# Add name, color, breed, legs, age to the dog dictionary
dog["name"]= 'Pinky'
dog["color"] = 'brown'
dog["breed"] = 'dolmision'
dog["legs"] = 2
dog["age"] = '10 year'
print(dog)

{'name': 'Pinky', 'color': 'brown', 'breed': 'dolmision', 'legs': 2, 'age': '10 year'}

In [315]:
# Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
student ={}
student["first_name"]= 'Lavanya'
student['last_name'] = 'Kurra'
student['gender'] = 'female'
student['age'] = '29 years'
student['marital status'] = 'single'
student['skills'] = ['Btech','gyn']
student['country'] = 'India'
student['city'] = 'Hyderabad'
student['address'] = 'Vanasthalipuram'
print(student)

{'first_name': 'Lavanya', 'last_name': 'Kurra', 'gender': 'female', 'age': '29 years', 'marital status': 'single', 'skills': ['Btech', 'gyn'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Vanasthalipuram'}

In [316]:
# Get the length of the student dictionary
print(len(student))

9

In [317]:
# Get the value of skills and check the data type, it should be a list
print(type(student.get('skills')))

<class 'list'>

In [318]:
# Modify the skills values by adding one or two skills
student['skills'].append('html')
print(student)

{'first_name': 'Lavanya', 'last_name': 'Kurra', 'gender': 'female', 'age': '29 years', 'marital status': 'single', 'skills': ['Btech', 'gyn', 'html'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Vanasthalipuram'}

In [319]:
# Get the dictionary keys as a list
print(list(student.keys()))

['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']

In [56]:
# Get the dictionary values as a list
print(list(student.values()))

['Lavanya', 'Kurra', 'female', 'single', ['Btech', 'gy', 'html'], 'India', 'Hyderabad', 'Vanasthalipuram']

In [320]:
#question:3
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers= ('mahi', 'gani')
sisters= ('halley','elisa')
#Join brothers and sisters tuples and assign it to siblings
siblings = brothers+sisters
print(siblings)

('mahi', 'gani', 'halley', 'elisa')

In [208]:
# How many siblings do you have?
len(siblings)

4

In [209]:
family_members= siblings+('chandu','suma') 
print(family_members)

('mahi', 'gani', 'halley', 'elisa', 'chandu', 'suma')

In [321]:
#question:4

#it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#A = {19, 22, 24, 20, 25, 26}
#B = {19, 22, 20, 25, 26, 24, 28, 27}
#age = [22, 19, 24, 25, 26, 24, 25, 24]
# Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [322]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Twitter', 'Facebook', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Oracle', 'Google'}

In [323]:
# Insert multiple IT companies at once to the set it_companies
it_companies.update(['instagram','snapchat','HCL'])
print(it_companies)

{'IBM', 'Apple', 'Microsoft', 'Google', 'snapchat', 'Twitter', 'HCL', 'Oracle', 'instagram', 'Facebook', 'Amazon'}

In [324]:
# Remove one of the companies from the set it_companies
it_companies.remove('snapchat')
print(it_companies)

{'IBM', 'Apple', 'Microsoft', 'Google', 'Twitter', 'HCL', 'Oracle', 'instagram', 'Facebook', 'Amazon'}

In [227]:
# What is the difference between remove and discard
it_companies.discard('Google')
print(it_companies)
"Both remove() and discard() method will remove the specified item. remove() method throws the error if the item doesnot exit in the set whereas discard() method doesnt throw error if teh item doesnot exit in the set"

{'IBM', 'Apple', 'Microsoft', 'snapchat', 'Twitter', 'HCL', 'Oracle', 'instagram', 'Facebook', 'Amazon'}

'Both remove() and discard() method will remove the specified item. remove() method throws the error if the item doesnot exit in the set whereas discard() method doesnt throw error if teh item doesnot exit in the set'

In [244]:
# Join A and B
C=A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [245]:
# Find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [246]:
# Is A subset of B
print(A.issubset(B))

True

In [247]:
# Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [248]:
# Join A with B and B with A
B.update(A)

print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [251]:
# What is the symmetric difference between A and B
print(A.symmetric_difference(B))

{27, 28}

In [255]:
# Delete the sets completely
A.clear()
#doubt

In [256]:
# Convert the ages to a set and compare the length of the list and the set.
age1 = set(age)
print(age1)
print(len(age))
print(len(age1))

{19, 22, 24, 25, 26}
8
5

In [265]:
#question:5

#The radius of a circle is 30 meters
# Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
radius = 30
_area_of_circle_ =3.14*radius*radius
print(_area_of_circle_)

2826.0

In [270]:
# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_=2*3.14*radius
print(_circum_of_circle_)

188.4

In [271]:
# Take radius as user input and calculate the area.
radius =int(input("Enter the radius of the circle"))
print(3.14*radius*radius)

Enter the radius of the circle10
314.0

In [291]:
#question:6

#“I am a teacher and I love to inspire and teach people”
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
x = ("I am a teacher and I love to inspire and teach people")
y=x.split(' ')
z=set(y)
a=len(z)
print(len(z))
print(z)

10
{'I', 'a', 'people', 'teacher', 'to', 'teach', 'and', 'love', 'inspire', 'am'}

In [325]:
#question:7

# Use a tab escape sequence to get the following lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki
str = 'Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki'
print(str)
#doubt

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [328]:
#question:8

# Use the string formatting method to display the following:#radius = 10
#radius = 10
#area = 3.14 * radius ** 2“T
#The area of a circle with radius 10 is 314 meters square.”
radius=10
area=int(3.14*radius**2)
output="The area of a circle with radius {0} is {1} meters square".format(radius,area)
print(output)

The area of a circle with radius 10 is 314 meters square

In [327]:
#question:9

#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]
student_list=[150, 155, 145, 148]
a=[]
for i in student_list:
    i=float(i)*0.45
    a.append(i)
print(a)

[67.5, 69.75, 65.25, 66.60000000000001]